.body {
    text-align: center;
    background-color:darkslategrey;
    margin: 0px;
}

.title {
    text-align: center;
    letter-spacing: 2px;
}

.inputs {
    justify-content: center;
    padding: 20px;
    background-color: transparent;
    text-align: center;
}

.input-box {
    color: black;
    margin: 5px;
    border-radius: 7px;
}

.dif-box {
    padding: 15px;
    color:darkkhaki;
    text-align: justify;
}

.box-goal {
    padding: 5px;
    border: 1.5px solid black;
}

.record-info {
    padding: 2px;
    text-overflow: nowrap;
}





/* FOOTER */

.footer {
    background-color:black;
    padding: 10px;
    text-align: end;
    font-family: American Typewriter;
    position: sticky;
    bottom: 0px;
    max-height: fit-content;
}

.footer-box {
    color: gold;
    font-size: larger;
    padding: 5px;
}