{% extends "layout.html" %}
{% block content %}


    <div class="record-info">
        <h1>Task # {{ record.task_id }}</h1>
        <br/>
        
        {% if not record.end %}
            <h2>Initiated at</h2>
            <h2>{{ record.start }}</h2>
            <h2>And have been working</h2>
            <h2>{{ middle_time_spend }}   <span style="color:dimgrey; font-size: small;">hh:mm</span></h2>

        {% else %}
            <h2>This task take</h2>
            <h2>{{ record.time_spend }}</h2>
        {% endif %}
    </div>


{% endblock content %} 